@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    background-color: #4873e7;
    font-family: Arial, Helvetica, sans-serif;
}

#corpo{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    text-align: center;
    color: white;
    
}

#container{
    background-color: white;
    width: 400px;
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 1px;
    border-radius: 10px;
}

#input_ano_nascimento{
    margin-top: 10px;
    width: 100%;
    padding: 5px;

}

#input_ano_nascimento::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

#imagem{
    display: none;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: auto;
    padding-bottom: 10px;
}

#p{
    text-align: center;
}

#botao{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.329); 
    width: 100%;
    font-size: 17px;   
 }

@media screen and (max-width: 700px){
    #container{
        width: 360px;
        
    }
  

    #container_botao{
      text-align: center;
     
    }


}

